###Delayed Lists###

6 July 2015

In [76]:
macro delay(exp)
    :(() -> $exp)
end

function force(delayedf)
    delayedf()
end
        
function makepair(x, y)
    function pairfunction(m)
        if m == 0
            x
        elseif m == 1
            @delay(y)
            else
            error("expecting 0 or 1 in MAKEPAIR")
        end
    end
    pairfunction
end

function pfirst(pair)
    pair(0)
end

function psec(pair)
    force(pair(1))
end

psec (generic function with 1 method)

In [77]:
t1 = makepair(3, 5)

t2 = makepair(2, 4)

t3 = makepair(t1, t2)

psec(pfirst(t3))

5

In [78]:
function enumerateinterval(low, high)
    if low > high
        nothing
    else
        makepair(low, enumerateinterval(low+1, high))
    end
end

enumerateinterval (generic function with 1 method)

In [79]:
t = enumerateinterval(1, 10)

pairfunction (generic function with 1 method)

In [80]:
pfirst(psec(t))

2

In [81]:
pfirst(psec(psec(t)))

3

In [82]:
one_through_ten = enumerateinterval(1, 10)

pairfunction (generic function with 1 method)

In [83]:
function lookup(dlist, n)
    if n == 1
        pfirst(dlist)
    else
        lookup(psec(dlist), n-1)
    end
end

lookup (generic function with 1 method)

In [84]:
lookup(one_through_ten, 6)

6

In [85]:
lookup(one_through_ten, 9)

9

In [86]:
function length(dlist)
    if dlist == nothing
        0
    else
        1 + length(psec(dlist))
    end
end

length (generic function with 1 method)

In [87]:
length(one_through_ten)

10

In [88]:
function joindlists(dlist1, dlist2)
    if dlist1 == nothing
        dlist2
    else
        makepair(pfirst(dlist1), joindlists(psec(dlist1), dlist2))
    end
end

joindlists (generic function with 1 method)

In [89]:
ten_through_twenty = enumerateinterval(10, 20)

pairfunction (generic function with 1 method)

In [90]:
one_hundred_through_111 = enumerateinterval(100, 111)

pairfunction (generic function with 1 method)

In [91]:
te = joindlists(ten_through_twenty, one_hundred_through_111)

pairfunction (generic function with 1 method)

In [92]:
length(te)

23

In [93]:
lookup(te, 10)

19

In [94]:
lookup(te, 22)

110

In [95]:
function reverse(dlist)
    if psec(dlist) == nothing
        dlist
    else
        joindlists(reverse(psec(dlist)), makepair(pfirst(dlist), nothing))
    end
end

reverse (generic function with 1 method)

In [96]:
lookup(one_through_ten, 4)

4

In [97]:
trev = reverse(one_through_ten)

pairfunction (generic function with 1 method)

In [98]:
length(trev)

10

In [99]:
lookup(trev, 4)

7

In [100]:
function dlmap(proc, dlist)
    if dlist == nothing
        nothing
    else
        makepair(proc(pfirst(dlist)), dlmap(proc, psec(dlist)))
    end
end

dlmap (generic function with 1 method)

In [101]:
function cube(x)
    x*x*x
end

cube (generic function with 1 method)

In [102]:
tc = dlmap(cube, one_through_ten)

pairfunction (generic function with 1 method)

In [103]:
lookup(tc, 4)

64

In [104]:
function dlfilter(predicate, dlist)
    if dlist == nothing
        nothing
        elseif predicate(pfirst(dlist))
        makepair(pfirst(dlist), dlfilter(predicate, psec(dlist)))
    else
        dlfilter(predicate, psec(dlist))
    end
end

dlfilter (generic function with 1 method)

In [105]:
todd = dlfilter(isodd, one_through_ten)

pairfunction (generic function with 1 method)

In [106]:
lookup(todd, 3)

5

In [107]:
length(todd)

5

In [108]:
function dlaccumulate(op, initial, dlist)
    if dlist == nothing
        initial
    else
        op(pfirst(dlist), dlaccumulate(op, initial, psec(dlist)))
    end
end

dlaccumulate (generic function with 1 method)

In [109]:
dlaccumulate(+, 0, one_through_ten)

55

In [110]:
function fibonacci(n)
    if n == 0
        0
    elseif n == 1
        1
    else
        fibonacci(n-1)+fibonacci(n-2)
    end
end

fibonacci (generic function with 1 method)

In [111]:
function evenfibs(n)
    dlaccumulate(makepair, nothing, dlfilter(iseven, dlmap(fibonacci, enumerateinterval(0, n))))
end

evenfibs (generic function with 1 method)

In [112]:
tw = evenfibs(20)

pairfunction (generic function with 1 method)

In [113]:
length(tw)

7

In [114]:
lookup(tw, 1)

0

In [115]:
lookup(tw, 2)

2

In [116]:
lookup(tw, 3)

8

In [117]:
lookup(tw, 4)

34

In [118]:
lookup(tw, 5)

144

In [119]:
lookup(tw, 6)

610

In [120]:
lookup(tw, 7)

2584

In [121]:
function displaydl(dlist)
    if dlist == nothing
    else
        print(pfirst(dlist), " ")
        displaydl(psec(dlist))
    end
end

displaydl (generic function with 1 method)

In [122]:
displaydl(tw)

0 2 8 34 144 610 2584

In [123]:
lookup(tw, 1)

0

In [124]:
function fibs_squared(n)
    dlaccumulate(makepair, nothing, dlmap(x->x*x, dlmap(fibonacci, enumerateinterval(0, n))))
end

fibs_squared (generic function with 1 method)

In [125]:
tfibs = fibs_squared(20)

pairfunction (generic function with 1 method)

In [126]:
displaydl(tfibs)

0 1 1 4 9 25 64 169 441 1156 3025 7921 20736 54289 142129 372100 974169 2550409 6677056 17480761 45765225

In [127]:
function dltoarray(dlist)
    if dlist == nothing
    else
        hcat(pfirst(dlist), dltoarray(psec(dlist)))
    end
end

dltoarray (generic function with 1 method)

In [128]:
ate = dltoarray(tfibs)

1x22 Array{Any,2}:
 0  1  1  4  9  25  64  169  441  1156  3025  â€¦  17480761  45765225  nothing

In [129]:
function sumprimesv1(a, b)
    function run(count, accum)
        if count > b
            accum
            elseif isprime(count)
            run(count+1, accum+count)
        else
            run(count+1, accum)
        end
    end
    run(a, 0)
end

sumprimesv1 (generic function with 1 method)

In [130]:
sumprimesv1(1, 50)

328

In [131]:
@time sumprimesv1(1, 50)

elapsed time: 3.8616e-5 seconds (2736 bytes allocated)

328

In [132]:
@time sumprimesv1(1, 50)

elapsed time: 3.7813e-5 seconds (2736 bytes allocated)

328

In [133]:
function sumprimesv2(a, b)
    dlaccumulate(+, 0, dlfilter(isprime, enumerateinterval(a, b)))
end

sumprimesv2 (generic function with 1 method)

In [134]:
sumprimesv2(1, 50)

328

In [135]:
@time sumprimesv2(1, 50)

elapsed time: 7.3212e-5 seconds (42184 bytes allocated)

328

In [136]:
@time sumprimesv2(1, 50)

elapsed time: 7.0232e-5 seconds (42184 bytes allocated)

328

In [137]:
@time sumprimesv1(1, 50)

elapsed time: 3.7941e-5 seconds (2736 bytes allocated)

328

In [138]:
@time sumprimesv2(1, 50)

elapsed time: 7.2407e-5 seconds (42184 bytes allocated)

328

In [139]:
function st()
    pfirst(psec(dlfilter(isprime, enumerateinterval(10000, 1000000))))
end

st (generic function with 1 method)

In [140]:
st()

LoadError: stack overflow
while loading In[140], in expression starting on line 1